<div class="hero-section">
  <div class="hero-overlay"></div>
  <div class="hero-container">
    <h1 class="hero-title">FeliMarket</h1>
    <p class="hero-subtitle">Calidad exclusiva, precios insuperables.</p>
    <div class="hero-actions">
      <a routerLink="/catalog" class="btn-hero-primary">Explorar catálogo</a>
    </div>
  </div>
</div>

<div class="main-container">
  <section class="categories-section">
    <h2 class="section-title">Explorar Categorías</h2>
    <div class="categories-carousel">
      @for (cat of categories(); track cat.id) {
      <a [routerLink]="['/catalog']" [queryParams]="{ categoryId: cat.id }" class="category-card">
        <div class="category-icon">{{ getCategoryIcon(cat.name) }}</div>
        <span class="category-name">{{ cat.name }}</span>
      </a>
      }
    </div>
  </section>

  <section class="products-section">
    <h2 class="section-title">Productos Destacados</h2>

    @if (loading()) {
    <div class="loading-state">Cargando catálogo destacado...</div>
    }

    <div class="products-grid">
      @for (product of products(); track product.id) {
      <article class="product-card" (click)="openDrawer(product.slug)">
        <div class="card-image-wrapper">
          @if (product.images.length > 0) {
          <img [src]="product.images[0].url" [alt]="product.name" class="product-img" />
          } @else {
          <div class="no-image-placeholder">Sin imagen</div>
          }
          @if (product.hasPromotion) {
          <span class="discount-tag">-{{ product.discountPct }}%</span>
          }
        </div>

        <div class="card-body">
          <div class="card-meta">
            <span class="product-category">{{ product.category.name || 'General' }}</span>
            <span class="meta-divider">•</span>
            <span class="stock-badge" [class.low-stock]="product.stock > 0 && product.stock <= 5"
              [class.out-of-stock]="product.stock === 0">
              {{ product.stock === 0 ? 'Agotado' : (product.stock <= 5 ? 'Poco stock' : 'En stock' ) }} </span>
          </div>

          <h3 class="product-title">{{ product.name }}</h3>

          <div class="price-action-container">
            <div class="price-container">
              @if (product.hasPromotion) {
              <span class="old-price">${{ product.originalPrice }}</span>
              }
              <span class="current-price">${{ product.price }}</span>
            </div>

            <div class="card-buttons">
            </div>
          </div>
        </div>
      </article>
      }
    </div>
  </section>
</div>

@if (selectedProductSlug()) {
  <app-product-drawer
    [productSlug]="selectedProductSlug()"
    (close)="closeDrawer()">
  </app-product-drawer>
}